Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-uni01alpha

vexxhost-hotstack-ipxe-image:
  parent: base-hotstack-ixpe-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack ipxe image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-blank-image:
  parent: base-hotstack-blank-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack blank image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-controller-image:
  parent: base-hotstack-controller-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack controller image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-sno-2-bm:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: sno-2-bm
  
    '
  timeout: 5400
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: sno-2-bm
  ...

vexxhost-hotstack-3-nodes:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: 3-nodes
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: 3-nodes
  ...

vexxhost-hotstack-uni01alpha:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: uni01alpha
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: uni01alpha
  ...

Remove redundant openstack init resource wait
  roles/hotloop/templates/common/stages/olm-openstack-stages.yaml.j2
Due: vexxhost-hotstack-3-nodes

Test scenario 3-nodes
  scenarios/3-nodes/test
Due: vexxhost-hotstack-3-nodes

3-nodes: Fix DNS server address in NNCP
  scenarios/3-nodes/manifests/control-plane/networking/nncp.yaml
Due: vexxhost-hotstack-3-nodes

Add CSV wait for OLM dependency operators
  roles/hotloop/templates/common/stages/deps-stages.yaml.j2
  roles/hotloop/templates/common/stages/topolvm-deps-stages.yaml.j2
Due: vexxhost-hotstack-3-nodes

Test 3-nodes different OpenShift Versions
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

WIP: Add networking-lab with devstack-nxsw-vxlan
  .gitignore
  .pre-commit-config.yaml
  03-redfish_vbmc_podman.yml
  04-install_devstack.yml
  05-hotloop-stages.yml
  bootstrap_devstack.yml
  roles/controller/defaults/main.yml
  roles/controller/tasks/install_openstack_client.yml
  roles/controller/tasks/main.yml
  roles/devstack_installer/README.md
  roles/devstack_installer/defaults/main.yml
  roles/devstack_installer/tasks/copy_clouds_yaml.yml
  roles/devstack_installer/tasks/main.yml
  roles/devstack_installer/tasks/prepare_system.yml
  roles/devstack_installer/tasks/render_local_conf.yml
  scenarios/networking-lab/README.md
  scenarios/networking-lab/devstack-nxsw-vxlan/README.md
  scenarios/networking-lab/devstack-nxsw-vxlan/automation-vars.yml
  scenarios/networking-lab/devstack-nxsw-vxlan/bootstrap_vars.yml
  scenarios/networking-lab/devstack-nxsw-vxlan/heat_template.yaml
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf01-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf01-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf02-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf02-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-nxsw-vxlan/spine01-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/spine01-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/spine02-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/spine02-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/topology-diagram.svg
  scenarios/networking-lab/manage-poap-md5sums.sh
Due: vexxhost-hotstack-3-nodes

Fix test_volume_backup_restore test
  scenarios/3-nodes/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-3-nodes

Add messagingBus.Cluster=rabbitmq
  scenarios/3-nodes/manifests/control-plane/control-plane.yaml
  scenarios/compact-4-bm/manifests/control-plane/control-plane.yaml
  scenarios/multi-nodeset/manifests/control-plane/control-plane.yaml
  scenarios/multi-ns/manifests/control-planes/control-planes.yaml
  scenarios/sno-2-bm-flat-vlan/manifests/control-plane/control-plane.yaml
  scenarios/sno-2-bm-ipv6/manifests/control-plane/control-plane.yaml
  scenarios/sno-2-bm/manifests/control-plane/control-plane.yaml
  scenarios/sno-2nics-force10-10/manifests/control-plane.yaml
  scenarios/sno-2nics-nxsw/manifests/control-plane.yaml
  scenarios/sno-bmh-tests-ipv6/manifests/control-plane/control-plane.yaml
  scenarios/sno-bmh-tests/manifests/control-plane/control-plane.yaml
  scenarios/sno-nxsw/manifests/control-plane.yaml
  scenarios/uni01alpha/manifests/control-plane/control-plane.yaml
Due: vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-uni01alpha

Fix test_volume_backup_restore test
  scenarios/3-nodes/test-operator/tempest-tests.yml
  scenarios/sno-nxsw-netconf/README.md
  scenarios/sno-nxsw-netconf/automation-vars.yml
  scenarios/sno-nxsw-netconf/bootstrap_vars.yml
  scenarios/sno-nxsw-netconf/heat_template.yaml
  scenarios/sno-nxsw-netconf/manage-poap-md5sum.sh
  scenarios/sno-nxsw-netconf/manifests/control-plane.yaml
  scenarios/sno-nxsw-netconf/manifests/dnsmasq-dns-ironic.yaml
  scenarios/sno-nxsw-netconf/manifests/networking-baremetal/config.yaml
  scenarios/sno-nxsw-netconf/manifests/networking/metallb.yaml
  scenarios/sno-nxsw-netconf/manifests/networking/nad.yaml
  scenarios/sno-nxsw-netconf/manifests/networking/netconfig.yaml
  scenarios/sno-nxsw-netconf/manifests/networking/nncp.yaml
  scenarios/sno-nxsw-netconf/manifests/openstack-version.yaml
  scenarios/sno-nxsw-netconf/poap.cfg
  scenarios/sno-nxsw-netconf/poap.py
  scenarios/sno-nxsw-netconf/test-operator/README.md
  scenarios/sno-nxsw-netconf/test-operator/automation-vars.yml
  scenarios/sno-nxsw-netconf/test-operator/manifests/nad.yaml
  scenarios/sno-nxsw-netconf/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-3-nodes

Add NXOS image in switch-host
  images/Makefile
  images/switch-host-scripts/README.md
  images/switch-host-scripts/nxos/configure.sh
  images/switch-host-scripts/nxos/domain.xml.j2
  images/switch-host-scripts/nxos/setup.sh
  images/switch-host-scripts/nxos/wait.sh
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

hotloop: Better logging in apply file module
  roles/hotloop/library/hotloop_oc_apply_file.py
Due: vexxhost-hotstack-3-nodes

Sushy Emulator improve wait conditions
  roles/hotloop/library/hotloop_oc_apply_file.py
  roles/hotloop/library/hotloop_oc_apply_kustomize.py
  roles/hotloop/tasks/kustomize.yml
  roles/hotloop/tasks/main.yml
  roles/hotloop/tasks/retry_metrics.yml
  roles/hotloop/tasks/static_manifest.yml
  roles/hotloop/tasks/template_manifest.yml
  roles/redfish_virtual_bmc/vars/automation-vars.yml
Due: vexxhost-hotstack-3-nodes

hotlogs: Improve tempest log output formatting
  ci/playbooks/run-deploy.yml
  ci/playbooks/run-tests.yml
  roles/hotlogs/tasks/main.yml
  roles/hotloop/tasks/retry_metrics.yml
Due: vexxhost-hotstack-3-nodes

ci: untrusted run phase, use patch workspace roles
  ci/playbooks/run-deploy.yml
  ci/playbooks/run-tests.yml
Due: none

hotloop: Optimize retry metrics tracking
  roles/hotloop/library/hotloop_oc_apply_file.py
  roles/hotloop/library/hotloop_oc_apply_kustomize.py
  roles/hotloop/tasks/kustomize.yml
  roles/hotloop/tasks/main.yml
  roles/hotloop/tasks/retry_metrics.yml
  roles/hotloop/tasks/static_manifest.yml
  roles/hotloop/tasks/template_manifest.yml
Due: vexxhost-hotstack-3-nodes

redfish_virtual_bmc: Enable console log emission
  roles/redfish_virtual_bmc/files/deployment.yaml
  roles/redfish_virtual_bmc/templates/config_map.yaml.j2
Due: vexxhost-hotstack-3-nodes

redfish_virtual_bmc: Add nova-console-poller
  roles/redfish_virtual_bmc/tasks/main.yml
  roles/redfish_virtual_bmc/templates/console_poller_deployment.yaml.j2
  roles/redfish_virtual_bmc/vars/automation-vars.yml
Due: vexxhost-hotstack-3-nodes

nova-console-recorder - fix CA issue
  roles/nova_console_recorder/README.md
  roles/nova_console_recorder/defaults/main.yml
  roles/nova_console_recorder/templates/deployment.yaml.j2
Due: vexxhost-hotstack-3-nodes

rescue-based iPXE net-boot with sushy-emulator
  04-redfish_virtual_bmc.yml
  ipxe/README.md
  roles/redfish_virtual_bmc/defaults/main.yml
  roles/redfish_virtual_bmc/files/deployment.yaml
  roles/redfish_virtual_bmc/templates/config_map.yaml.j2
  scenarios/sno-2-bm/README.md
  scenarios/sno-2-bm/bootstrap_vars.yml
  scenarios/sno-2-bm/heat_template_ipxe.yaml
  scenarios/sno-2-bm/heat_template_pxe.yaml
Due: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes

Auto-enable sushy rescue PXE boot from stack outputs
  roles/redfish_virtual_bmc/templates/config_map.yaml.j2
Due: vexxhost-hotstack-3-nodes

Path conditions:
  vexxhost-hotstack-ipxe-image: any of: ^ipxe/.*
  vexxhost-hotstack-blank-image: any of: ^images/.*
  vexxhost-hotstack-controller-image: any of: ^images/.*
  vexxhost-hotstack-sno-2-bm: any of: ^scenarios/sno-2-bm/.*
  vexxhost-hotstack-3-nodes: any of: ^scenarios/3-nodes/.*, ^roles/.*
  vexxhost-hotstack-uni01alpha: any of: ^scenarios/uni01alpha/.*
