Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-3-nodes-update, vexxhost-hotstack-multi-nodeset

vexxhost-hotstack-ipxe-image:
  parent: base-hotstack-ixpe-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack ipxe image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-blank-image:
  parent: base-hotstack-blank-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack blank image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-controller-image:
  parent: base-hotstack-controller-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack controller image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-sno-2-bm:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: sno-2-bm
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: sno-2-bm
  ...

vexxhost-hotstack-3-nodes:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: 3-nodes
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: 3-nodes
  ...

vexxhost-hotstack-3-nodes-update:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: 3-nodes
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: 3-nodes
  ...

vexxhost-hotstack-multi-nodeset:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: multi-nodeset
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: multi-nodeset
  ...

Add SONiC VXLAN params to genericswitch config
  scenarios/networking-lab/devstack-sonic-vxlan/local.conf.j2
Due: none

Fix VXLAN L2VNI params for SONiC and Arista
  scenarios/networking-lab/devstack-ceos-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-sonic-vxlan/local.conf.j2
Due: none

3-nodes-gitops scenario
  scenarios/3-nodes-gitops/README.md
  scenarios/3-nodes-gitops/argocd-apps/openstack-controlplane.yaml
  scenarios/3-nodes-gitops/argocd-apps/openstack-dataplane.yaml
  scenarios/3-nodes-gitops/argocd-apps/openstack-network.yaml
  scenarios/3-nodes-gitops/argocd-apps/openstack-operators.yaml
  scenarios/3-nodes-gitops/argocd-apps/openstack-secrets.yaml
  scenarios/3-nodes-gitops/automation-vars.yml
  scenarios/3-nodes-gitops/bootstrap_vars.yml
  scenarios/3-nodes-gitops/gitops-manifests/README.md
  scenarios/3-nodes-gitops/gitops-manifests/controlplane/controlplane-sno-patch.yaml
  scenarios/3-nodes-gitops/gitops-manifests/controlplane/kustomization.yaml
  scenarios/3-nodes-gitops/gitops-manifests/dataplane/dataplane-deployment-patch.yaml
  scenarios/3-nodes-gitops/gitops-manifests/dataplane/dataplane-nodeset-patch.yaml
  scenarios/3-nodes-gitops/gitops-manifests/dataplane/kustomization.yaml
  scenarios/3-nodes-gitops/gitops-manifests/network/ipaddresspool-patch.yaml
  scenarios/3-nodes-gitops/gitops-manifests/network/kustomization.yaml
  scenarios/3-nodes-gitops/gitops-manifests/network/nad-datacentre.yaml
  scenarios/3-nodes-gitops/gitops-manifests/network/netconfig-patch.yaml
  scenarios/3-nodes-gitops/gitops-manifests/network/nncp-delete-workers.yaml
  scenarios/3-nodes-gitops/gitops-manifests/network/nncp-sno.yaml
  scenarios/3-nodes-gitops/gitops-manifests/operators/kustomization.yaml
  scenarios/3-nodes-gitops/gitops-manifests/operators/namespaces.yaml
  scenarios/3-nodes-gitops/gitops-manifests/operators/openstack-cr.yaml
  scenarios/3-nodes-gitops/gitops-manifests/operators/subscription.yaml
  scenarios/3-nodes-gitops/gitops-manifests/secrets/dataplane-ssh-secret.yaml
  scenarios/3-nodes-gitops/gitops-manifests/secrets/kustomization.yaml
  scenarios/3-nodes-gitops/gitops-manifests/secrets/libvirt-secret.yaml
  scenarios/3-nodes-gitops/gitops-manifests/secrets/osp-secret.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

WIP - Add MicroShift support
  bootstrap.yml
  images/.gitignore
  images/dib/elements/hotstack-microshift/static/etc/microshift/manifests.d/005-cluster-config/cluster-config-v1.yaml
  images/dib/elements/hotstack-microshift/static/etc/microshift/manifests.d/005-cluster-config/kustomization.yaml
  images/dib/elements/hotstack-microshift/static/etc/microshift/manifests.d/030-metallb/kustomization.yaml
  images/dib/elements/hotstack-microshift/static/etc/microshift/manifests.d/035-frr-crds/kustomization.yaml
  scenarios/microshift/README.md
  scenarios/microshift/automation-vars.yml
  scenarios/microshift/bootstrap_vars.yml
  scenarios/microshift/files/microshift-config.yaml
  scenarios/microshift/files/topolvm-configmap.yaml
  scenarios/microshift/files/topolvm-kustomization.yaml
  scenarios/microshift/files/topolvm-storageclass.yaml
  scenarios/microshift/heat_template.yaml
  scenarios/microshift/manifests/control-plane/control-plane.yaml.j2
  scenarios/microshift/manifests/control-plane/dnsmasq-dns-ironic.yaml
  scenarios/microshift/manifests/control-plane/networking/metallb.yaml
  scenarios/microshift/manifests/control-plane/networking/nad.yaml
  scenarios/microshift/manifests/control-plane/networking/nncp.yaml.j2
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Enable IP forwarding in SONiC network namespace
  images/dib/elements/hotstack-sonic-vs/static/usr/local/bin/setup-sonic
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

SONIC: Remove MTU 1442 settings, use default 1500
  scenarios/networking-lab/devstack-sonic-vxlan/heat_template.yaml
  scenarios/networking-lab/devstack-sonic-vxlan/leaf01-config_db.json
  scenarios/networking-lab/devstack-sonic-vxlan/leaf02-config_db.json
  scenarios/networking-lab/devstack-sonic-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-sonic-vxlan/spine01-config_db.json
  scenarios/networking-lab/devstack-sonic-vxlan/spine02-config_db.json
Due: none

Add devstack-sonic-vlan scenario
  images/README.md
  images/dib/README.md
  scenarios/networking-lab/devstack-sonic-vlan/README.md
  scenarios/networking-lab/devstack-sonic-vlan/TROUBLESHOOTING.md
  scenarios/networking-lab/devstack-sonic-vlan/automation-vars.yml
  scenarios/networking-lab/devstack-sonic-vlan/bootstrap_vars.yml
  scenarios/networking-lab/devstack-sonic-vlan/heat_template.yaml
  scenarios/networking-lab/devstack-sonic-vlan/local.conf.j2
  scenarios/networking-lab/devstack-sonic-vlan/switch-bgpd.conf
  scenarios/networking-lab/devstack-sonic-vlan/switch-config_db.json
  scenarios/networking-lab/devstack-sonic-vlan/switch-ospfd.conf
  scenarios/networking-lab/devstack-sonic-vlan/topology-diagram.svg
  scenarios/networking-lab/devstack-sonic-vxlan/heat_template.yaml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

uni01alpha: wait tempest pod completion
  scenarios/multi-nodeset/test-operator/automation-vars.yml
  scenarios/sno-2-bm-ipv6/test-operator/automation-vars.yml
  scenarios/sno-2-bm/test-operator/automation-vars.yml
  scenarios/uni01alpha/heat_template.yaml
  scenarios/uni01alpha/test-operator/automation-vars.yml
  scenarios/uni01alpha/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-multi-nodeset

ceos lab fixes ...
  scenarios/networking-lab/devstack-ceos-vxlan/TROUBLESHOOTING.md
Due: none

Add devstack-ceos-vlan scenario
  scenarios/networking-lab/devstack-ceos-vlan/README.md
  scenarios/networking-lab/devstack-ceos-vlan/TROUBLESHOOTING.md
  scenarios/networking-lab/devstack-ceos-vlan/automation-vars.yml
  scenarios/networking-lab/devstack-ceos-vlan/bootstrap_vars.yml
  scenarios/networking-lab/devstack-ceos-vlan/heat_template.yaml
  scenarios/networking-lab/devstack-ceos-vlan/local.conf.j2
  scenarios/networking-lab/devstack-ceos-vlan/switch-startup.cfg
  scenarios/networking-lab/devstack-ceos-vlan/topology-diagram.svg
Due: none

Test 3-nodes different OpenShift Versions
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Add cEOS promisc option and refresh docs
  images/dib/elements/hotstack-ceos/README.rst
  images/dib/elements/hotstack-ceos/static/etc/hotstack-ceos/README
  images/dib/elements/hotstack-ceos/static/usr/local/bin/start-ceos
  scenarios/networking-lab/devstack-ceos-vlan/heat_template.yaml
  scenarios/networking-lab/devstack-ceos-vxlan/heat_template.yaml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Set Ironic power timeout to 90s for lab scenarios.
  scenarios/networking-lab/devstack-ceos-vlan/local.conf.j2
  scenarios/networking-lab/devstack-ceos-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-nxsw-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-sonic-vlan/local.conf.j2
  scenarios/networking-lab/devstack-sonic-vxlan/local.conf.j2
Due: none

cEOS - Troubleshooting
  scenarios/networking-lab/devstack-ceos-vxlan/TROUBLESHOOTING.md
  scenarios/networking-lab/devstack-ceos-vxlan/heat_template.yaml
  scenarios/networking-lab/devstack-ceos-vxlan/leaf01-startup.cfg
  scenarios/networking-lab/devstack-ceos-vxlan/leaf02-startup.cfg
  scenarios/networking-lab/devstack-ceos-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-ceos-vxlan/spine01-startup.cfg
  scenarios/networking-lab/devstack-ceos-vxlan/spine02-startup.cfg
Due: none

Add cEOS-netconf scenario
  scenarios/networking-lab/devstack-ceos-vlan-netconf/README.md
  scenarios/networking-lab/devstack-ceos-vlan-netconf/TROUBLESHOOTING.md
  scenarios/networking-lab/devstack-ceos-vlan-netconf/automation-vars.yml
  scenarios/networking-lab/devstack-ceos-vlan-netconf/bootstrap_vars.yml
  scenarios/networking-lab/devstack-ceos-vlan-netconf/heat_template.yaml
  scenarios/networking-lab/devstack-ceos-vlan-netconf/local.conf.j2
  scenarios/networking-lab/devstack-ceos-vlan-netconf/switch-startup.cfg
  scenarios/networking-lab/devstack-ceos-vlan-netconf/topology-diagram.svg
Due: none

Add hotstack-nxos DIB element
  images/Makefile
  images/README.md
  images/dib/elements/hotstack-nxos/README.rst
  images/dib/elements/hotstack-nxos/element-deps
  images/dib/elements/hotstack-nxos/extra-data.d/10-verify-images
  images/dib/elements/hotstack-nxos/extra-data.d/11-copy-nxos-image
  images/dib/elements/hotstack-nxos/extra-data.d/12-download-firmware
  images/dib/elements/hotstack-nxos/install.d/50-install-nxos
  images/dib/elements/hotstack-nxos/package-installs.yaml
  images/dib/elements/hotstack-nxos/post-install.d/80-enable-services
  images/dib/elements/hotstack-nxos/static/etc/NetworkManager/conf.d/99-unmanage-switch-ports.conf
  images/dib/elements/hotstack-nxos/static/etc/cloud/cloud.cfg.d/99-disable-switch-network-config.cfg
  images/dib/elements/hotstack-nxos/static/etc/hotstack-nxos/README
  images/dib/elements/hotstack-nxos/static/etc/systemd/system/nxos-console.service
  images/dib/elements/hotstack-nxos/static/etc/systemd/system/nxos.service
  images/dib/elements/hotstack-nxos/static/usr/local/bin/start-nxos
  images/dib/elements/hotstack-nxos/static/usr/local/lib/hotstack-nxos/nmstate.yaml.j2
  images/dib/nxos-image.yaml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Add devstack-nxos-vlan-netconf scenario
  02-bootstrap_controller.yml
  roles/controller/tasks/main.yml
  scenarios/networking-lab/devstack-nxos-vlan-netconf/README.md
  scenarios/networking-lab/devstack-nxos-vlan-netconf/automation-vars.yml
  scenarios/networking-lab/devstack-nxos-vlan-netconf/bootstrap_vars.yml
  scenarios/networking-lab/devstack-nxos-vlan-netconf/heat_template.yaml
  scenarios/networking-lab/devstack-nxos-vlan-netconf/local.conf.j2
  scenarios/networking-lab/devstack-nxos-vlan-netconf/manage-poap-md5sum.sh
  scenarios/networking-lab/devstack-nxos-vlan-netconf/poap.cfg
  scenarios/networking-lab/devstack-nxos-vlan-netconf/poap.py
Due: vexxhost-hotstack-3-nodes

New scenario devstack-nxos-vlan-restconf
  scenarios/networking-lab/devstack-nxos-vlan-restconf/README.md
  scenarios/networking-lab/devstack-nxos-vlan-restconf/automation-vars.yml
  scenarios/networking-lab/devstack-nxos-vlan-restconf/bootstrap_vars.yml
  scenarios/networking-lab/devstack-nxos-vlan-restconf/heat_template.yaml
  scenarios/networking-lab/devstack-nxos-vlan-restconf/local.conf.j2
  scenarios/networking-lab/devstack-nxos-vlan-restconf/manage-poap-md5sum.sh
  scenarios/networking-lab/devstack-nxos-vlan-restconf/poap.cfg
  scenarios/networking-lab/devstack-nxos-vlan-restconf/poap.py
Due: none

Make wait_for_hosts optional
  roles/controller/defaults/main.yml
Due: vexxhost-hotstack-3-nodes

Add HotPxeChain UEFI PXE chainloader application
  images/.gitignore
  images/Makefile
  images/README.md
  images/hot-pxe-chain/Containerfile
  images/hot-pxe-chain/HotPxeChainPkg/HotPxeChain.c
  images/hot-pxe-chain/HotPxeChainPkg/HotPxeChain.inf
  images/hot-pxe-chain/HotPxeChainPkg/HotPxeChainPkg.dsc
  images/hot-pxe-chain/LICENSE-edk2
  images/hot-pxe-chain/README.md
  scenarios/sno-2-bm/README.md
  scenarios/sno-2-bm/bootstrap_vars.yml
  zuul.d/jobs.yaml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm

Add workflow to build/release uefi-netboot image
  .github/workflows/build-uefi-netboot-image.yml
Due: none

Pass container file arg to docker cmd
  .github/workflows/build-uefi-netboot-image.yml
Due: none

Path conditions:
  vexxhost-hotstack-ipxe-image: any of: ^ipxe/.*
  vexxhost-hotstack-blank-image: any of: ^images/.*
  vexxhost-hotstack-controller-image: any of: ^images/.*
  vexxhost-hotstack-sno-2-bm: any of: ^scenarios/sno-2-bm/.*
  vexxhost-hotstack-3-nodes: any of: ^scenarios/3-nodes/.*, ^roles/.*
  vexxhost-hotstack-3-nodes-update: any of: ^scenarios/3-nodes/.*
  vexxhost-hotstack-multi-nodeset: any of: ^scenarios/multi-nodeset/.*
