Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-3-nodes-update, vexxhost-hotstack-multi-nodeset

vexxhost-hotstack-ipxe-image:
  parent: base-hotstack-ixpe-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack ipxe image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-blank-image:
  parent: base-hotstack-blank-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack blank image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-controller-image:
  parent: base-hotstack-controller-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack controller image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-sno-2-bm:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: sno-2-bm
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: sno-2-bm
  ...

vexxhost-hotstack-3-nodes:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: 3-nodes
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: 3-nodes
  ...

vexxhost-hotstack-3-nodes-update:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: 3-nodes
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: 3-nodes
  ...

vexxhost-hotstack-multi-nodeset:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: multi-nodeset
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: multi-nodeset
  ...

Fix firewall zone configuration for provider network
  devsetup/hotstack-os/ARCHITECTURE.md
  devsetup/hotstack-os/systemd/hotstack-os-infra-cleanup.sh
  devsetup/hotstack-os/systemd/hotstack-os-infra-setup.sh
Due: none

HotsTac(k)os: Ensure interface on fw zone
  devsetup/hotstack-os/systemd/hotstack-os-infra-setup.sh
Due: none

controller ssh key, lookup first found
  inventory.yml
Due: none

HotsTac(k)os: Enable masquerade on default zone
  devsetup/hotstack-os/systemd/hotstack-os-infra-setup.sh
Due: none

microshift - dependencies
  .gitignore
  03-setup_microshift.yml
  images/Makefile
  images/README.md
  images/dib/elements/hotstack-microshift/post-install.d/80-enable-services
  images/dib/elements/hotstack-microshift/static/etc/crio/crio.conf.d/12-microshift-multus.conf
  images/dib/elements/hotstack-microshift/static/etc/crio/crio.conf.d/20-cni-plugin-dirs.conf
  images/dib/elements/hotstack-microshift/static/etc/microshift/config.d/00-enable-multus.yaml
  images/dib/elements/hotstack-microshift/static/etc/microshift/manifests.d/020-cert-manager/kustomization.yaml
  images/dib/elements/hotstack-microshift/static/etc/microshift/manifests.d/030-metallb/kustomization.yaml
  images/dib/elements/hotstack-microshift/static/etc/microshift/manifests.d/030-metallb/scc-bindings.yaml
  images/dib/elements/hotstack-microshift/static/etc/microshift/manifests.d/040-nmstate/kustomization.yaml
  images/dib/elements/hotstack-microshift/static/etc/microshift/manifests.d/040-nmstate/nmstate-cr.yaml
  images/dib/elements/hotstack-microshift/static/etc/microshift/manifests.d/050-whereabouts/kustomization.yaml
  images/dib/elements/hotstack-microshift/static/etc/microshift/manifests.d/050-whereabouts/whereabouts-install.yaml
  images/dib/elements/hotstack-microshift/static/etc/systemd/system/host.mount
  roles/hotloop/files/common/stages/cinder-lvm-label-stages.yaml
  roles/hotloop/library/hotloop_oc_apply_file.py
  roles/microshift_setup/defaults/main.yml
  roles/microshift_setup/files/etc/microshift/manifests.d/011-frr-crds/kustomization.yaml
  roles/microshift_setup/files/etc/microshift/manifests.d/012-metal3-crds/baremetalhost-crd.yaml
  roles/microshift_setup/files/etc/microshift/manifests.d/012-metal3-crds/kustomization.yaml
  roles/microshift_setup/tasks/bootstrap_cluster.yml
  roles/microshift_setup/tasks/deploy_manifests.yml
  roles/microshift_setup/tasks/main.yml
  roles/microshift_setup/tasks/start_microshift.yml
  roles/microshift_setup/tasks/wait_for_ready.yml
  roles/microshift_setup/templates/catalogsource.yaml.j2
  roles/microshift_setup/vars/automation-vars.yml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-3-nodes

Use kustomize with remote architecture repo refs
  scenarios/uni01alpha/README.md
  scenarios/uni01alpha/automation-vars.yml
  scenarios/uni01alpha/kustomize/control-plane/hotstack-network-values.yaml
  scenarios/uni01alpha/kustomize/control-plane/kustomization.yaml
  scenarios/uni01alpha/kustomize/control-plane/service-values.yaml
  scenarios/uni01alpha/kustomize/dataplane-deployment/kustomization.yaml
  scenarios/uni01alpha/kustomize/edpm/hotstack-values.yaml
  scenarios/uni01alpha/kustomize/edpm/kustomization.yaml
  scenarios/uni01alpha/kustomize/networker-deployment/kustomization.yaml
  scenarios/uni01alpha/kustomize/networker/hotstack-values.yaml
  scenarios/uni01alpha/kustomize/networker/kustomization.yaml
  scenarios/uni01alpha/manifests/control-plane/control-plane.yaml
  scenarios/uni01alpha/manifests/control-plane/nncp/nncp.yaml
  scenarios/uni01alpha/manifests/dataplane.yaml
  scenarios/uni01alpha/manifests/edpm/edpm.yaml
  scenarios/uni01alpha/manifests/networker/networker.yaml
  scenarios/uni01alpha/manifests/networker/nodeset/nodeset.yaml
Due: none

uni01alpha: Simplify configuration and add CI job
  scenarios/uni01alpha/heat_template.yaml
  scenarios/uni01alpha/kustomize/control-plane/kustomization.yaml
  scenarios/uni01alpha/kustomize/control-plane/service-values.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Add sync_files stage type to hotloop
  docs/hotloop_lang.md
  roles/hotloop/README.md
  roles/hotloop/library/hotloop_stage_loader.py
  roles/hotloop/tasks/sync_files.yml
  roles/hotloop/templates/common/stages/gitops-stages.yaml.j2
  roles/hotloop/templates/execute_stage.yml.j2
Due: vexxhost-hotstack-3-nodes

Add hotstack_git_server role for GitOps
  images/dib/elements/hotstack-controller/package-installs.yaml
  roles/controller/defaults/main.yml
  roles/controller/tasks/main.yml
  roles/hotstack_git_server/README.md
  roles/hotstack_git_server/defaults/main.yml
  roles/hotstack_git_server/library/hotstack_git_server_init.py
  roles/hotstack_git_server/tasks/main.yml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-3-nodes

Fix sync_files to use synced work directory
  roles/hotloop/tasks/sync_files.yml
Due: vexxhost-hotstack-3-nodes

Fix sync_files to use synced work directory for remote connections
  roles/hotloop/tasks/sync_files.yml
Due: vexxhost-hotstack-3-nodes

Add Arista cEOS containerized switch DIB element
  images/Makefile
  images/README.md
  images/dib/ceos-image.yaml
  images/dib/elements/hotstack-ceos/README.rst
  images/dib/elements/hotstack-ceos/element-deps
  images/dib/elements/hotstack-ceos/extra-data.d/10-verify-images
  images/dib/elements/hotstack-ceos/extra-data.d/11-copy-ceos-image
  images/dib/elements/hotstack-ceos/install.d/50-import-ceos-images
  images/dib/elements/hotstack-ceos/package-installs.yaml
  images/dib/elements/hotstack-ceos/post-install.d/80-enable-services
  images/dib/elements/hotstack-ceos/pre-install.d/10-verify-images
  images/dib/elements/hotstack-ceos/static/etc/NetworkManager/conf.d/99-unmanage-switch-ports.conf
  images/dib/elements/hotstack-ceos/static/etc/cloud/cloud.cfg.d/99-disable-switch-network-config.cfg
  images/dib/elements/hotstack-ceos/static/etc/hotstack-ceos/README
  images/dib/elements/hotstack-ceos/static/etc/systemd/system/ceos-import.service
  images/dib/elements/hotstack-ceos/static/etc/systemd/system/ceos.service
  images/dib/elements/hotstack-ceos/static/usr/local/bin/start-ceos
  images/dib/elements/hotstack-ceos/static/usr/share/hotstack-ceos/default-startup.cfg
  images/dib/elements/hotstack-ceos/static/usr/share/hotstack-ceos/if-wait
  images/dib/elements/hotstack-ceos/static/var/lib/ceos/flash/README
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

hotstack_git_server: Remove package install task
  roles/hotstack_git_server/tasks/main.yml
Due: vexxhost-hotstack-3-nodes

Add validations for syc_files stage
  roles/hotloop/library/hotloop_stage_loader.py
Due: vexxhost-hotstack-3-nodes

devstack-nxsw-vxlan: unpatch NGS
  scenarios/networking-lab/devstack-nxsw-vxlan/local.conf.j2
Due: none

Fix cEOS networking to use direct interface move
  images/dib/elements/hotstack-ceos/extra-data.d/11-copy-ceos-image
  images/dib/elements/hotstack-ceos/static/etc/NetworkManager/conf.d/99-unmanage-switch-ports.conf
  images/dib/elements/hotstack-ceos/static/usr/local/bin/start-ceos
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Add DevStack with Arista cEOS VXLAN scenario
  scenarios/networking-lab/devstack-ceos-vxlan/README.md
  scenarios/networking-lab/devstack-ceos-vxlan/TROUBLESHOOTING.md
  scenarios/networking-lab/devstack-ceos-vxlan/automation-vars.yml
  scenarios/networking-lab/devstack-ceos-vxlan/bootstrap_vars.yml
  scenarios/networking-lab/devstack-ceos-vxlan/heat_template.yaml
  scenarios/networking-lab/devstack-ceos-vxlan/l2vni_network_nodes.yaml
  scenarios/networking-lab/devstack-ceos-vxlan/leaf01-startup.cfg
  scenarios/networking-lab/devstack-ceos-vxlan/leaf02-startup.cfg
  scenarios/networking-lab/devstack-ceos-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-ceos-vxlan/spine01-startup.cfg
  scenarios/networking-lab/devstack-ceos-vxlan/spine02-startup.cfg
  scenarios/networking-lab/devstack-ceos-vxlan/topology-diagram.svg
Due: none

Add DIB image for SONiC virtual switch
  images/Makefile
  images/dib/elements/hotstack-sonic-vs/README.rst
  images/dib/elements/hotstack-sonic-vs/element-deps
  images/dib/elements/hotstack-sonic-vs/extra-data.d/10-verify-images
  images/dib/elements/hotstack-sonic-vs/extra-data.d/11-copy-sonic-image
  images/dib/elements/hotstack-sonic-vs/install.d/50-import-sonic-images
  images/dib/elements/hotstack-sonic-vs/package-installs.yaml
  images/dib/elements/hotstack-sonic-vs/post-install.d/80-enable-services
  images/dib/elements/hotstack-sonic-vs/static/etc/NetworkManager/conf.d/99-unmanage-switch-ports.conf
  images/dib/elements/hotstack-sonic-vs/static/etc/cloud/cloud.cfg.d/99-disable-switch-network-config.cfg
  images/dib/elements/hotstack-sonic-vs/static/etc/hotstack-sonic/README
  images/dib/elements/hotstack-sonic-vs/static/etc/systemd/system/sonic-import.service
  images/dib/elements/hotstack-sonic-vs/static/etc/systemd/system/sonic.service
  images/dib/elements/hotstack-sonic-vs/static/usr/local/bin/start-sonic
  images/dib/elements/hotstack-sonic-vs/static/usr/share/hotstack-sonic/default-config_db.json
  images/dib/elements/hotstack-sonic-vs/static/usr/share/hotstack-sonic/default-frr.conf
  images/dib/elements/hotstack-sonic-vs/static/var/lib/sonic/README
  images/dib/sonic-vs-image.yaml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Fix the devstack-ceos-vxlan diagram
  scenarios/networking-lab/devstack-ceos-vxlan/topology-diagram.svg
Due: none

HotsTac(k)os: Raise the default qoutas
  devsetup/hotstack-os/.env.example
  devsetup/hotstack-os/scripts/post-setup.py
Due: none

ceos - OOM issue
  scenarios/networking-lab/devstack-ceos-vxlan/bootstrap_vars.yml
  scenarios/networking-lab/devstack-ceos-vxlan/heat_template.yaml
Due: none

Path conditions:
  vexxhost-hotstack-ipxe-image: any of: ^ipxe/.*
  vexxhost-hotstack-blank-image: any of: ^images/.*
  vexxhost-hotstack-controller-image: any of: ^images/.*
  vexxhost-hotstack-sno-2-bm: any of: ^scenarios/sno-2-bm/.*
  vexxhost-hotstack-3-nodes: any of: ^scenarios/3-nodes/.*, ^roles/.*
  vexxhost-hotstack-3-nodes-update: any of: ^scenarios/3-nodes/.*
  vexxhost-hotstack-multi-nodeset: any of: ^scenarios/multi-nodeset/.*
