Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-3-nodes-update, vexxhost-hotstack-multi-nodeset

vexxhost-hotstack-ipxe-image:
  parent: base-hotstack-ixpe-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack ipxe image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-blank-image:
  parent: base-hotstack-blank-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack blank image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-controller-image:
  parent: base-hotstack-controller-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack controller image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-sno-2-bm:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: sno-2-bm
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: sno-2-bm
  ...

vexxhost-hotstack-3-nodes:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: 3-nodes
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: 3-nodes
  ...

vexxhost-hotstack-3-nodes-update:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: 3-nodes
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: 3-nodes
  ...

vexxhost-hotstack-multi-nodeset:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: multi-nodeset
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: multi-nodeset
  ...

Switch to buildah for parallel container builds
  ci/playbooks/run-hotstack-os.yml
  devsetup/hotstack-os/scripts/build.py
  devsetup/hotstack-os/scripts/install-deps.sh
Due: none

sno-2-bm: Use dynamic MTU from Heat stack outputs
  scenarios/sno-2-bm/automation-vars.yml
  scenarios/sno-2-bm/heat_template.yaml
  scenarios/sno-2-bm/heat_template_ipxe.yaml
  scenarios/sno-2-bm/heat_template_pxe.yaml
  scenarios/sno-2-bm/manifests/control-plane/control-plane.yaml.j2
  scenarios/sno-2-bm/manifests/control-plane/networking/nad.yaml
  scenarios/sno-2-bm/manifests/control-plane/networking/nncp.yaml.j2
  scenarios/sno-2-bm/test-operator/manifests/nad.yaml
Due: vexxhost-hotstack-sno-2-bm

Disable Nova serial_console to use PTY consoles
  devsetup/hotstack-os/configs/nova/nova.conf
Due: none

Add base job for external consumers
  ci/playbooks/pre-deploy.yml
  zuul.d/jobs.yaml
Due: none

stack param overrides + mixed mode sushy-tools
  roles/heat_stack/tasks/main.yml
  roles/redfish_virtual_bmc/templates/config_map.yaml.j2
Due: vexxhost-hotstack-3-nodes

sno-2-bm: Add mixed boot interface heat template
  scenarios/sno-2-bm/bootstrap_vars.yml
  scenarios/sno-2-bm/heat_template.yaml
  scenarios/sno-2-bm/heat_template_mixed.yaml
  scenarios/sno-2-bm/heat_template_pxe.yaml
  scenarios/sno-2-bm/test-operator/automation-vars.yml
Due: vexxhost-hotstack-sno-2-bm

HotsTac(k)os: Use stable device rescue mode
  devsetup/hotstack-os/scripts/post-setup.py
  ipxe/README.md
Due: vexxhost-hotstack-ipxe-image

HotsTac(k)os: clean target run uninstall first
  devsetup/hotstack-os/Makefile
Due: none

HotsTac(k)os: Cleanup script outputs
  devsetup/hotstack-os/Makefile
  devsetup/hotstack-os/scripts/build.py
  devsetup/hotstack-os/scripts/clean.sh
  devsetup/hotstack-os/scripts/common.sh
  devsetup/hotstack-os/scripts/config.sh
  devsetup/hotstack-os/scripts/install-deps.sh
  devsetup/hotstack-os/scripts/install-systemd.sh
  devsetup/hotstack-os/scripts/post-setup.py
  devsetup/hotstack-os/scripts/uninstall-systemd.sh
  devsetup/hotstack-os/systemd/hotstack-os-infra-cleanup.sh
  devsetup/hotstack-os/systemd/hotstack-os-infra-setup.sh
Due: none

HotsTac(k)os: Nova swap Debian novnc to PyPI novnc
  devsetup/hotstack-os/configs/nova/nova.conf
  devsetup/hotstack-os/containerfiles/nova.containerfile
Due: none

Use flavor: ci.m1.medium for ironic nodes
  zuul.d/jobs.yaml
Due: none

Use config drive for sno-2-bm tempest
  scenarios/sno-2-bm/bootstrap_vars.yml
  scenarios/sno-2-bm/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-sno-2-bm

Test vexxhost-hotstack-3-nodes-update
  update-vars.yml
Due: none

Test scenario 3-nodes
  scenarios/3-nodes/test
Due: vexxhost-hotstack-3-nodes, vexxhost-hotstack-3-nodes-update

Reorganize images folder: move DIB files to dib/
  images/Makefile
  images/README.md
  images/dib/README.md
  images/dib/controller-image.yaml
  images/dib/elements/README.md
  images/dib/elements/hotstack-controller/README.rst
  images/dib/elements/hotstack-controller/element-deps
  images/dib/elements/hotstack-controller/package-installs.yaml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Test using pod for hotstack job
  zuul.d/jobs.yaml
  zuul.d/nodeset.yaml
  zuul.d/projects.yaml
Due: none

Disable job for blank image ...
  zuul.d/projects.yaml
Due: none

Use quay.io/opendevmirror/debian:bookworm
  devsetup/hotstack-os/containerfiles/base-openstack.containerfile
  devsetup/hotstack-os/containerfiles/ovn.containerfile
Due: none

Add MicroShift DIB image build
  .gitignore
  images/Makefile
  images/README.md
  images/dib/elements/hotstack-microshift/README.rst
  images/dib/elements/hotstack-microshift/element-deps
  images/dib/elements/hotstack-microshift/environment.d/10-microshift-defaults.bash
  images/dib/elements/hotstack-microshift/install.d/50-microshift-install
  images/dib/elements/hotstack-microshift/package-installs.yaml
  images/dib/elements/hotstack-microshift/post-install.d/80-enable-services
  images/dib/elements/hotstack-microshift/post-install.d/90-microshift-cleanup
  images/dib/elements/hotstack-microshift/pre-install.d/11-microshift-repos
  images/dib/elements/hotstack-microshift/static/etc/iscsi/iscsid.conf
  images/dib/elements/hotstack-microshift/static/etc/multipath.conf
  images/dib/elements/hotstack-microshift/static/etc/sysctl.d/90-microshift-inotify.conf
  images/dib/microshift-image.yaml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Add role microshift_setup
  roles/microshift_setup/defaults/main.yml
  roles/microshift_setup/tasks/bootstrap_cluster.yml
  roles/microshift_setup/tasks/ca_cert.yml
  roles/microshift_setup/tasks/fetch_kubeconfig.yml
  roles/microshift_setup/tasks/install_client.yml
  roles/microshift_setup/tasks/main.yml
  roles/microshift_setup/tasks/pull_secret.yml
  roles/microshift_setup/tasks/wait_for_ready.yml
  roles/microshift_setup/templates/catalogsource.yaml.j2
  roles/microshift_setup/vars/automation-vars.yml
Due: vexxhost-hotstack-3-nodes

Add ocp_installer_type support
  roles/ocp_agent_installer/defaults/main.yml
  roles/ocp_agent_installer/tasks/main.yml
  scenarios/3-nodes-gitops/heat_template.yaml
  scenarios/3-nodes/heat_template.yaml
  scenarios/campus-ha/heat_template.yaml
  scenarios/compact-4-bm/heat_template.yaml
  scenarios/hci/heat_template.yaml
  scenarios/multi-nodeset/heat_template.yaml
  scenarios/multi-ns/heat_template.yaml
  scenarios/snapshot-sno/heat_template.yaml
  scenarios/sno-2-bm-flat-vlan/heat_template.yaml
  scenarios/sno-2-bm-ipv6/heat_template.yaml
  scenarios/sno-2-bm/heat_template.yaml
  scenarios/sno-2-bm/heat_template_ipxe.yaml
  scenarios/sno-2-bm/heat_template_mixed.yaml
  scenarios/sno-2-bm/heat_template_pxe.yaml
  scenarios/sno-2nics-force10-10/heat_template.yaml
  scenarios/sno-2nics-nxsw/heat_template.yaml
  scenarios/sno-bmh-tests-ipv6/heat_template.yaml
  scenarios/sno-bmh-tests/heat_template.yaml
  scenarios/sno-nxsw/heat_template.yaml
  scenarios/uni01alpha/heat_template.yaml
Due: vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-3-nodes-update, vexxhost-hotstack-multi-nodeset

Path conditions:
  vexxhost-hotstack-ipxe-image: any of: ^ipxe/.*
  vexxhost-hotstack-blank-image: any of: ^images/.*
  vexxhost-hotstack-controller-image: any of: ^images/.*
  vexxhost-hotstack-sno-2-bm: any of: ^scenarios/sno-2-bm/.*
  vexxhost-hotstack-3-nodes: any of: ^scenarios/3-nodes/.*, ^roles/.*
  vexxhost-hotstack-3-nodes-update: any of: ^scenarios/3-nodes/.*
  vexxhost-hotstack-multi-nodeset: any of: ^scenarios/multi-nodeset/.*
