Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-3-nodes-update, vexxhost-hotstack-multi-nodeset

Path conditions:
  vexxhost-hotstack-ipxe-image: any of: ^ipxe/.*
  vexxhost-hotstack-blank-image: any of: ^images/.*
  vexxhost-hotstack-controller-image: any of: ^images/.*
  vexxhost-hotstack-sno-2-bm: any of: ^scenarios/sno-2-bm/.*
  vexxhost-hotstack-3-nodes: any of: ^scenarios/3-nodes/.*, ^roles/.*
  vexxhost-hotstack-3-nodes-update: any of: ^scenarios/3-nodes/.*
  vexxhost-hotstack-multi-nodeset: any of: ^scenarios/multi-nodeset/.*

Install yq package on hotstack controller img
  images/dib/elements/hotstack-controller/package-installs.yaml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Waits: use oc rollout status for daemonset
  roles/hotloop/templates/common/stages/deps-stages.yaml.j2
Due: vexxhost-hotstack-3-nodes

hotloop: remote_src support and expanduser
  roles/hotloop/library/hotloop_oc_apply_file.py
  roles/hotloop/library/hotloop_oc_apply_kustomize.py
  roles/hotloop/library/hotloop_stage_loader.py
  roles/hotloop/library/hotloop_yaml_patch.py
  roles/hotloop/tasks/kustomize.yml
Due: vexxhost-hotstack-3-nodes

Add etcd timeout to retryable error patterns
  roles/hotloop/library/hotloop_oc_apply_file.py
  roles/hotloop/library/hotloop_oc_apply_kustomize.py
  roles/hotloop/library/hotloop_wait_condition.py
Due: vexxhost-hotstack-3-nodes

uni01alpha: Refactor, use architecture repo directly
  scenarios/uni01alpha/automation-vars.yml
  scenarios/uni01alpha/bootstrap_vars.yml
  scenarios/uni01alpha/heat_template.yaml
  scenarios/uni01alpha/kustomize/control-plane/hotstack-network-values.yaml
  scenarios/uni01alpha/kustomize/control-plane/kustomization.yaml
  scenarios/uni01alpha/kustomize/control-plane/service-values.yaml
  scenarios/uni01alpha/kustomize/dataplane-deployment/kustomization.yaml
  scenarios/uni01alpha/kustomize/edpm/hotstack-values.yaml
  scenarios/uni01alpha/kustomize/edpm/kustomization.yaml
  scenarios/uni01alpha/kustomize/networker-deployment/kustomization.yaml
  scenarios/uni01alpha/kustomize/networker/hotstack-values.yaml
  scenarios/uni01alpha/kustomize/networker/kustomization.yaml
  scenarios/uni01alpha/manifests/update/update-ovn.yaml
  scenarios/uni01alpha/manifests/update/update-reboot.yaml
  scenarios/uni01alpha/manifests/update/update-services.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Add persistent storage for sushy-emulator state
  roles/controller/README.md
  roles/controller/defaults/main.yml
  roles/redfish_vbmc_podman/README.md
  roles/redfish_vbmc_podman/defaults/main.yml
  roles/redfish_vbmc_podman/tasks/main.yml
  roles/redfish_vbmc_podman/templates/sushy-emulator.conf.j2
  roles/redfish_vbmc_podman/templates/sushy-emulator.service.j2
  roles/redfish_virtual_bmc/README.md
  roles/redfish_virtual_bmc/defaults/main.yml
  roles/redfish_virtual_bmc/files/deployment.yaml
  roles/redfish_virtual_bmc/tasks/main.yml
  roles/redfish_virtual_bmc/templates/config_map.yaml.j2
  roles/redfish_virtual_bmc/templates/sushy_state_pv.yaml.j2
  roles/redfish_virtual_bmc/templates/sushy_state_pvc.yaml.j2
  roles/redfish_virtual_bmc/vars/automation-vars.yml
Due: vexxhost-hotstack-3-nodes

Drop rabbitmq-cluster-operator wait commands
  roles/hotloop/README.md
  roles/hotloop/templates/common/stages/olm-openstack-stages.yaml.j2
  roles/hotloop/templates/common/stages/openstack-olm-update.yaml.j2
Due: vexxhost-hotstack-3-nodes

Add Ubuntu Noble image to post-setup script
  devsetup/hotstack-os/.env.example
  devsetup/hotstack-os/scripts/post-setup.py
Due: none

Fix SONiC image name mismatch in import service
  images/dib/elements/hotstack-sonic-vs/README.rst
  images/dib/elements/hotstack-sonic-vs/static/etc/hotstack-sonic/README
  images/dib/elements/hotstack-sonic-vs/static/etc/systemd/system/sonic-import.service
  images/dib/elements/hotstack-sonic-vs/static/usr/local/bin/start-sonic
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

SONiC container startup, add sonic_version.yml
  images/dib/elements/hotstack-sonic-vs/static/etc/hotstack-sonic/README
  images/dib/elements/hotstack-sonic-vs/static/usr/local/bin/start-sonic
  images/dib/elements/hotstack-sonic-vs/static/usr/share/hotstack-sonic/default-sonic_version.yml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Update hotstack.mlarge flavor disk size to 60GB
  README.md
  devsetup/README.md
  devsetup/hotstack-os/scripts/post-setup.py
  docs/deploy_hotstack_on_psi.md
Due: none

Refactor start-sonic: improve error handling and code structure
  images/dib/elements/hotstack-sonic-vs/static/usr/local/bin/start-sonic
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Add SSH access to SONiC-VS via custom container image
  images/dib/elements/hotstack-sonic-vs/README.rst
  images/dib/elements/hotstack-sonic-vs/extra-data.d/11-copy-sonic-image
  images/dib/elements/hotstack-sonic-vs/extra-data.d/Containerfile
  images/dib/elements/hotstack-sonic-vs/extra-data.d/docker-wrapper.sh
  images/dib/elements/hotstack-sonic-vs/extra-data.d/sshd.conf
  images/dib/elements/hotstack-sonic-vs/static/etc/hotstack-sonic/README
  images/dib/elements/hotstack-sonic-vs/static/usr/local/bin/start-sonic
  images/dib/elements/hotstack-sonic-vs/static/var/lib/sonic/Containerfile
  images/dib/elements/hotstack-sonic-vs/static/var/lib/sonic/README.md
  images/dib/elements/hotstack-sonic-vs/static/var/lib/sonic/sshd.conf
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Migrate SONiC-VS from podman to systemd-nspawn
  images/dib/elements/hotstack-sonic-vs/README.rst
  images/dib/elements/hotstack-sonic-vs/extra-data.d/11-build-sonic-rootfs
  images/dib/elements/hotstack-sonic-vs/extra-data.d/Containerfile
  images/dib/elements/hotstack-sonic-vs/extra-data.d/container-files/bgpd.conf
  images/dib/elements/hotstack-sonic-vs/extra-data.d/container-files/docker-wrapper.sh
  images/dib/elements/hotstack-sonic-vs/extra-data.d/container-files/ospfd.conf
  images/dib/elements/hotstack-sonic-vs/extra-data.d/container-files/rebootbackend.conf
  images/dib/elements/hotstack-sonic-vs/extra-data.d/container-files/sshd.conf
  images/dib/elements/hotstack-sonic-vs/install.d/50-import-sonic-images
  images/dib/elements/hotstack-sonic-vs/package-installs.yaml
  images/dib/elements/hotstack-sonic-vs/post-install.d/60-set-permissions
  images/dib/elements/hotstack-sonic-vs/static/etc/hotstack-sonic/README
  images/dib/elements/hotstack-sonic-vs/static/etc/systemd/system/sonic.service
  images/dib/elements/hotstack-sonic-vs/static/usr/local/bin/setup-sonic
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Fix SONiC dig image build
  images/dib/elements/hotstack-sonic-vs/extra-data.d/11-copy-sonic-image
  images/dib/elements/hotstack-sonic-vs/extra-data.d/docker-wrapper.sh
  images/dib/elements/hotstack-sonic-vs/extra-data.d/sshd.conf
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Add DevStack with SONiC VXLAN scenario
  scenarios/networking-lab/devstack-sonic-vxlan/README.md
  scenarios/networking-lab/devstack-sonic-vxlan/TROUBLESHOOTING.md
  scenarios/networking-lab/devstack-sonic-vxlan/automation-vars.yml
  scenarios/networking-lab/devstack-sonic-vxlan/bootstrap_vars.yml
  scenarios/networking-lab/devstack-sonic-vxlan/heat_template.yaml
  scenarios/networking-lab/devstack-sonic-vxlan/l2vni_network_nodes.yaml
  scenarios/networking-lab/devstack-sonic-vxlan/leaf01-bgpd.conf
  scenarios/networking-lab/devstack-sonic-vxlan/leaf01-config_db.json
  scenarios/networking-lab/devstack-sonic-vxlan/leaf01-ospfd.conf
  scenarios/networking-lab/devstack-sonic-vxlan/leaf02-bgpd.conf
  scenarios/networking-lab/devstack-sonic-vxlan/leaf02-config_db.json
  scenarios/networking-lab/devstack-sonic-vxlan/leaf02-ospfd.conf
  scenarios/networking-lab/devstack-sonic-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-sonic-vxlan/spine01-bgpd.conf
  scenarios/networking-lab/devstack-sonic-vxlan/spine01-config_db.json
  scenarios/networking-lab/devstack-sonic-vxlan/spine01-ospfd.conf
  scenarios/networking-lab/devstack-sonic-vxlan/spine02-bgpd.conf
  scenarios/networking-lab/devstack-sonic-vxlan/spine02-config_db.json
  scenarios/networking-lab/devstack-sonic-vxlan/spine02-ospfd.conf
  scenarios/networking-lab/devstack-sonic-vxlan/topology-diagram.svg
Due: none

SONiC - Add ngs_mac_address option
  scenarios/networking-lab/devstack-sonic-vxlan/local.conf.j2
Due: none

Remove obsolete podman-based SONiC implementation artifacts
  images/dib/elements/hotstack-sonic-vs/static/etc/hotstack-sonic/README
  images/dib/elements/hotstack-sonic-vs/static/etc/systemd/system/sonic-import.service
  images/dib/elements/hotstack-sonic-vs/static/usr/local/bin/start-sonic
  images/dib/elements/hotstack-sonic-vs/static/var/lib/sonic/Containerfile
  images/dib/elements/hotstack-sonic-vs/static/var/lib/sonic/README
  images/dib/elements/hotstack-sonic-vs/static/var/lib/sonic/README.md
  images/dib/elements/hotstack-sonic-vs/static/var/lib/sonic/sshd.conf
  scenarios/networking-lab/devstack-sonic-vxlan/heat_template.yaml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Use SWITCH_HOSTNAME from config in systemd-nspawn
  images/dib/elements/hotstack-sonic-vs/static/etc/hotstack-sonic/README
  images/dib/elements/hotstack-sonic-vs/static/etc/systemd/system/sonic.service
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Suppress Python SyntaxWarnings in SONiC container
  images/dib/elements/hotstack-sonic-vs/extra-data.d/Containerfile
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image
