Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-3-nodes-update, vexxhost-hotstack-multi-nodeset

Path conditions:
  vexxhost-hotstack-ipxe-image: any of: ^ipxe/.*
  vexxhost-hotstack-blank-image: any of: ^images/.*
  vexxhost-hotstack-controller-image: any of: ^images/.*
  vexxhost-hotstack-sno-2-bm: any of: ^scenarios/sno-2-bm/.*
  vexxhost-hotstack-3-nodes: any of: ^scenarios/3-nodes/.*, ^roles/.*
  vexxhost-hotstack-3-nodes-update: any of: ^scenarios/3-nodes/.*
  vexxhost-hotstack-multi-nodeset: any of: ^scenarios/multi-nodeset/.*

hotstack-so: Add --yes arg to post setup
  devsetup/hotstack-os/Makefile
  devsetup/hotstack-os/scripts/post-setup.py
Due: none

Test using pod for hotstack job
  zuul.d/jobs.yaml
  zuul.d/nodeset.yaml
  zuul.d/projects.yaml
Due: none

CentOS-Stream-10 base for controller image
  .github/workflows/build-controller-image.yml
  images/Makefile
  images/dib/controller-image.yaml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Add vjunos-switch vlan netmiko lab
  images/Makefile
  images/README.md
  images/dib/elements/hotstack-vjunos/README.rst
  images/dib/elements/hotstack-vjunos/element-deps
  images/dib/elements/hotstack-vjunos/extra-data.d/10-verify-images
  images/dib/elements/hotstack-vjunos/extra-data.d/11-copy-vjunos-image
  images/dib/elements/hotstack-vjunos/install.d/50-install-vjunos
  images/dib/elements/hotstack-vjunos/package-installs.yaml
  images/dib/elements/hotstack-vjunos/post-install.d/80-enable-services
  images/dib/elements/hotstack-vjunos/static/etc/NetworkManager/conf.d/99-unmanage-switch-ports.conf
  images/dib/elements/hotstack-vjunos/static/etc/cloud/cloud.cfg.d/99-disable-switch-network-config.cfg
  images/dib/elements/hotstack-vjunos/static/etc/hotstack-vjunos/README
  images/dib/elements/hotstack-vjunos/static/etc/systemd/system/vjunos-console.service
  images/dib/elements/hotstack-vjunos/static/etc/systemd/system/vjunos.service
  images/dib/elements/hotstack-vjunos/static/usr/local/bin/start-vjunos
  images/dib/elements/hotstack-vjunos/static/usr/local/lib/hotstack-vjunos/nmstate.yaml.j2
  images/dib/vjunos-image.yaml
  scenarios/networking-lab/devstack-vjunos-vlan/README.md
  scenarios/networking-lab/devstack-vjunos-vlan/automation-vars.yml
  scenarios/networking-lab/devstack-vjunos-vlan/bootstrap_vars.yml
  scenarios/networking-lab/devstack-vjunos-vlan/heat_template.yaml
  scenarios/networking-lab/devstack-vjunos-vlan/local.conf.j2
  scenarios/networking-lab/devstack-vjunos-vlan/vjunos-startup.conf
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

base job: Use uefi iPXE for OCP nodes
  zuul.d/jobs.yaml
Due: none

vjunos-switch using vjunos-vmm-data
  images/Makefile
  images/vjunos/vjunos-startup.conf
  scenarios/networking-lab/devstack-ceos-vlan-netconf/local.conf.j2
  scenarios/networking-lab/devstack-ceos-vlan/local.conf.j2
  scenarios/networking-lab/devstack-ceos-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-nxos-vlan-netconf/local.conf.j2
  scenarios/networking-lab/devstack-nxsw-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-sonic-vlan/local.conf.j2
  scenarios/networking-lab/devstack-sonic-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-vjunos-vlan-netconf/README.md
  scenarios/networking-lab/devstack-vjunos-vlan-netconf/automation-vars.yml
  scenarios/networking-lab/devstack-vjunos-vlan-netconf/bootstrap_vars.yml
  scenarios/networking-lab/devstack-vjunos-vlan-netconf/heat_template.yaml
  scenarios/networking-lab/devstack-vjunos-vlan-netconf/local.conf.j2
  scenarios/networking-lab/devstack-vjunos-vlan/local.conf.j2
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

redfish_virtual_bmc: fix fragile htpasswd secret
  roles/redfish_virtual_bmc/tasks/main.yml
  roles/redfish_virtual_bmc/templates/htpasswd_secret.yaml.j2
  roles/redfish_virtual_bmc/vars/automation-vars.yml
Due: vexxhost-hotstack-3-nodes

htpasswd, drop ansible task, use hotloop stage
  roles/redfish_virtual_bmc/tasks/main.yml
  roles/redfish_virtual_bmc/vars/automation-vars.yml
Due: vexxhost-hotstack-3-nodes

CI, pre-deploy suport s2i content
  ci/playbooks/pre-deploy.yml
Due: none

Images: Install DIB from source ...
  images/Makefile
  images/dib/ceos-image.yaml
  images/dib/microshift-image.yaml
  images/dib/nxos-image.yaml
  images/dib/sonic-vs-image.yaml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image
