Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-3-nodes-update, vexxhost-hotstack-multi-nodeset

Path conditions:
  vexxhost-hotstack-ipxe-image: any of: ^ipxe/.*
  vexxhost-hotstack-blank-image: any of: ^images/.*
  vexxhost-hotstack-controller-image: any of: ^images/.*
  vexxhost-hotstack-sno-2-bm: any of: ^scenarios/sno-2-bm/.*
  vexxhost-hotstack-3-nodes: any of: ^scenarios/3-nodes/.*, ^roles/.*
  vexxhost-hotstack-3-nodes-update: any of: ^scenarios/3-nodes/.*
  vexxhost-hotstack-multi-nodeset: any of: ^scenarios/multi-nodeset/.*

Wire up ocp_installer_type in 03-install_ocp.yml
  03-install_ocp.yml
Due: none

Remove task to install nfs packages
  roles/controller/tasks/setup_nfs.yml
Due: vexxhost-hotstack-3-nodes

WIP - Add MicroShift support
  03-setup_microshift.yml
  bootstrap.yml
  images/.gitignore
  scenarios/microshift/README.md
  scenarios/microshift/automation-vars.yml
  scenarios/microshift/bootstrap_vars.yml
  scenarios/microshift/files/microshift-config.yaml
  scenarios/microshift/files/topolvm-configmap.yaml
  scenarios/microshift/files/topolvm-kustomization.yaml
  scenarios/microshift/files/topolvm-storageclass.yaml
  scenarios/microshift/heat_template.yaml
  scenarios/microshift/manifests/control-plane/control-plane.yaml.j2
  scenarios/microshift/manifests/control-plane/dnsmasq-dns-ironic.yaml
  scenarios/microshift/manifests/control-plane/networking/metallb.yaml
  scenarios/microshift/manifests/control-plane/networking/nad.yaml
  scenarios/microshift/manifests/control-plane/networking/nncp.yaml.j2
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Docs cleanup, netns deletion was remove long ago ...
  devsetup/hotstack-os/README.md
  devsetup/hotstack-os/scripts/common.sh
Due: none

Add rescue-based virtual media to both BMC roles
  roles/redfish_vbmc_podman/defaults/main.yml
  roles/redfish_vbmc_podman/templates/sushy-emulator.conf.j2
  roles/redfish_virtual_bmc/defaults/main.yml
  roles/redfish_virtual_bmc/files/deployment.yaml
  roles/redfish_virtual_bmc/templates/config_map.yaml.j2
Due: vexxhost-hotstack-3-nodes

Add sushy-tools rescue-based virtual media suport
  scenarios/sno-2-bm/bootstrap_vars.yml
  scenarios/sno-2-bm/heat_template.yaml
  scenarios/sno-2-bm/heat_template_mixed.yaml
  zuul.d/jobs.yaml
Due: vexxhost-hotstack-sno-2-bm

role controller: install openstack client
  roles/controller/defaults/main.yml
  roles/controller/tasks/install_openstack_client.yml
  roles/controller/tasks/main.yml
Due: vexxhost-hotstack-3-nodes

New role devstack_installer
  roles/devstack_installer/README.md
  roles/devstack_installer/defaults/main.yml
  roles/devstack_installer/tasks/copy_clouds_yaml.yml
  roles/devstack_installer/tasks/main.yml
  roles/devstack_installer/tasks/prepare_system.yml
  roles/devstack_installer/tasks/render_local_conf.yml
Due: vexxhost-hotstack-3-nodes

Add devstack playbooks
  .gitignore
  .pre-commit-config.yaml
  03-redfish_vbmc_podman.yml
  04-install_devstack.yml
  05-hotloop-stages.yml
  bootstrap_devstack.yml
Due: none

Add disk format override for virtual media images
  roles/redfish_vbmc_podman/defaults/main.yml
  roles/redfish_vbmc_podman/templates/sushy-emulator.conf.j2
  roles/redfish_virtual_bmc/defaults/main.yml
  roles/redfish_virtual_bmc/files/deployment.yaml
  roles/redfish_virtual_bmc/templates/config_map.yaml.j2
  zuul.d/jobs.yaml
Due: vexxhost-hotstack-3-nodes

Prep networking-lab dir, doc + util
  scenarios/networking-lab/README.md
  scenarios/networking-lab/manage-poap-md5sums.sh
Due: none

Bump sushy-tools container image to dev-1773400388
  roles/redfish_vbmc_podman/README.md
  roles/redfish_vbmc_podman/defaults/main.yml
  roles/redfish_virtual_bmc/files/deployment.yaml
Due: vexxhost-hotstack-3-nodes

DNM - Test sno-2-bm Job
  scenarios/sno-2-bm/manifests/control-plane/control-plane.yaml.j2
  zuul.d/jobs.yaml
Due: vexxhost-hotstack-sno-2-bm

WIP: Add networking-lab with devstack-nxsw-vxlan
  scenarios/networking-lab/devstack-nxsw-vxlan/README.md
  scenarios/networking-lab/devstack-nxsw-vxlan/TROUBLESHOOTING.md
  scenarios/networking-lab/devstack-nxsw-vxlan/automation-vars.yml
  scenarios/networking-lab/devstack-nxsw-vxlan/bootstrap_vars.yml
  scenarios/networking-lab/devstack-nxsw-vxlan/heat_template.yaml
  scenarios/networking-lab/devstack-nxsw-vxlan/l2vni_network_nodes.yaml
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf01-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf01-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf02-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf02-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-nxsw-vxlan/spine01-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/spine01-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/spine02-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/spine02-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/topology-diagram.svg
Due: none

Explicitly define dependency instance - trunk port
  scenarios/3-nodes-gitops/heat_template.yaml
  scenarios/3-nodes/heat_template.yaml
  scenarios/campus-ha/heat_template.yaml
  scenarios/compact-4-bm/heat_template.yaml
  scenarios/hci/heat_template.yaml
  scenarios/multi-nodeset/heat_template.yaml
  scenarios/multi-ns/heat_template.yaml
  scenarios/networking-lab/devstack-nxsw-vxlan/heat_template.yaml
  scenarios/sno-2-bm-flat-vlan/heat_template.yaml
  scenarios/sno-2-bm-ipv6/heat_template.yaml
  scenarios/sno-2-bm/heat_template.yaml
  scenarios/sno-2nics-force10-10/heat_template.yaml
  scenarios/sno-2nics-nxsw/heat_template.yaml
  scenarios/sno-bmh-tests-ipv6/heat_template.yaml
  scenarios/sno-bmh-tests/heat_template.yaml
  scenarios/sno-nxsw/heat_template.yaml
  scenarios/uni01alpha/heat_template.yaml
  zuul.d/jobs.yaml
Due: vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-3-nodes-update, vexxhost-hotstack-multi-nodeset

nxos-vxlan - lab cleanup
  scenarios/networking-lab/devstack-nxsw-vxlan/TROUBLESHOOTING.md
  scenarios/networking-lab/devstack-nxsw-vxlan/automation-vars.yml
  scenarios/networking-lab/devstack-nxsw-vxlan/heat_template.yaml
  scenarios/networking-lab/devstack-nxsw-vxlan/l2vni_network_nodes.yaml
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf01-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf02-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-nxsw-vxlan/spine01-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/spine02-poap.cfg
Due: none

Use vmedia vis rescue in multi-nodeset
  scenarios/multi-nodeset/heat_template.yaml
  zuul.d/jobs.yaml
Due: vexxhost-hotstack-multi-nodeset

devstack-nxsw-vxlan - disable HA Alignment
  scenarios/networking-lab/devstack-nxsw-vxlan/heat_template.yaml
  scenarios/networking-lab/devstack-nxsw-vxlan/local.conf.j2
Due: none

HotsTac(k)os: firewalld check for disabled service
  devsetup/hotstack-os/systemd/hotstack-os-infra-setup.sh
Due: none

Fix firewall zone configuration for provider network
  devsetup/hotstack-os/ARCHITECTURE.md
  devsetup/hotstack-os/systemd/hotstack-os-infra-cleanup.sh
  devsetup/hotstack-os/systemd/hotstack-os-infra-setup.sh
Due: none
