Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-uni01alpha

Path conditions:
  vexxhost-hotstack-ipxe-image: any of: ^ipxe/.*
  vexxhost-hotstack-blank-image: any of: ^images/.*
  vexxhost-hotstack-controller-image: any of: ^images/.*
  vexxhost-hotstack-sno-2-bm: any of: ^scenarios/sno-2-bm/.*
  vexxhost-hotstack-3-nodes: any of: ^scenarios/3-nodes/.*, ^roles/.*
  vexxhost-hotstack-uni01alpha: any of: ^scenarios/uni01alpha/.*

disable markdownlint
  .pre-commit-config.yaml
Due: none

Update openstack-operator wait conditions
  roles/hotloop/templates/common/stages/olm-openstack-stages.yaml.j2
  roles/hotloop/templates/common/stages/openstack-olm-update.yaml.j2
Due: vexxhost-hotstack-3-nodes

Add job for scenario: multi-nodeset
  scenarios/multi-nodeset/test-operator/automation-vars.yml
  scenarios/multi-nodeset/test-operator/tempest-tests.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

heat_stack: Drop debug task on error
  roles/heat_stack/tasks/main.yml
Due: vexxhost-hotstack-3-nodes

Fail fast on ironic node provide failure
  scenarios/sno-2-bm/test-operator/automation-vars.yml
Due: vexxhost-hotstack-sno-2-bm

DNM - Test sno-2-bm Job
  scenarios/sno-2-bm/automation-vars.yml
  scenarios/sno-2-bm/manifests/control-plane/control-plane.yaml
  scenarios/sno-2-bm/test-operator/automation-vars.yml
  zuul.d/jobs.yaml
Due: vexxhost-hotstack-sno-2-bm

Follow up - fail fast on provide error
  scenarios/compact-4-bm/test-operator/automation-vars.yml
  scenarios/sno-2-bm-flat-vlan/test-operator/automation-vars.yml
  scenarios/sno-2-bm-ipv6/test-operator/automation-vars.yml
  scenarios/sno-nxsw/test-operator/automation-vars.yml
  scenarios/uni01alpha/test-operator/automation-vars.yml
Due: vexxhost-hotstack-uni01alpha

sno-nxsw: Fix VLAN handling for ironic network
  scenarios/sno-nxsw/heat_template.yaml
  scenarios/sno-nxsw/manifests/control-plane.yaml
  scenarios/sno-nxsw/manifests/networking/metallb.yaml
  scenarios/sno-nxsw/manifests/networking/nad.yaml
  scenarios/sno-nxsw/manifests/networking/nncp.yaml
  scenarios/sno-nxsw/manifests/ngs/config.yaml
  scenarios/sno-nxsw/test-operator/automation-vars.yml
  scenarios/sno-nxsw/test-operator/manifests/nad.yaml
Due: none

Add sno-2nics-nxsw scenario with consolidated network topology
  scenarios/sno-2nics-nxsw/README.md
  scenarios/sno-2nics-nxsw/automation-vars.yml
  scenarios/sno-2nics-nxsw/bootstrap_vars.yml
  scenarios/sno-2nics-nxsw/heat_template.yaml
  scenarios/sno-2nics-nxsw/manage-poap-md5sum.sh
  scenarios/sno-2nics-nxsw/manifests/control-plane.yaml
  scenarios/sno-2nics-nxsw/manifests/dnsmasq-dns-ironic.yaml
  scenarios/sno-2nics-nxsw/manifests/networking/metallb.yaml
  scenarios/sno-2nics-nxsw/manifests/networking/nad.yaml
  scenarios/sno-2nics-nxsw/manifests/networking/nncp.yaml
  scenarios/sno-2nics-nxsw/manifests/ngs/config.yaml
  scenarios/sno-2nics-nxsw/manifests/openstack-version.yaml
  scenarios/sno-2nics-nxsw/poap.cfg
  scenarios/sno-2nics-nxsw/poap.py
  scenarios/sno-2nics-nxsw/test-operator/README.md
  scenarios/sno-2nics-nxsw/test-operator/automation-vars.yml
  scenarios/sno-2nics-nxsw/test-operator/manifests/nad.yaml
  scenarios/sno-2nics-nxsw/test-operator/tempest-tests.yml
Due: none

Simplify ctlplane network configuration to use untagged trunk
  scenarios/sno-2nics-nxsw/heat_template.yaml
  scenarios/sno-2nics-nxsw/manifests/networking/nad.yaml
  scenarios/sno-2nics-nxsw/manifests/networking/nncp.yaml
Due: none

2nics-nxos: Tempest for baremetal instance testing
  scenarios/sno-2nics-nxsw/heat_template.yaml
  scenarios/sno-2nics-nxsw/manifests/control-plane.yaml
  scenarios/sno-2nics-nxsw/manifests/ngs/config.yaml
  scenarios/sno-2nics-nxsw/test-operator/automation-vars.yml
  scenarios/sno-2nics-nxsw/test-operator/tempest-tests.yml
  scenarios/sno-nxsw/test-operator/automation-vars.yml
  scenarios/sno-nxsw/test-operator/tempest-tests.yml
Due: none

2nics-nxos: Update the README.md
  scenarios/sno-2nics-nxsw/README.md
Due: none

sno-2nics-nxsw: Create private network last
  scenarios/sno-2nics-nxsw/test-operator/automation-vars.yml
Due: none

switch-host: Nested virtual switch
  images/.gitignore
  images/Makefile
  images/README.md
  images/switch-host-scripts/README.md
  images/switch-host-scripts/bridges.nmstate.yaml.j2
  images/switch-host-scripts/common.sh
  images/switch-host-scripts/force10_10/configure.sh
  images/switch-host-scripts/force10_10/domain.xml.j2
  images/switch-host-scripts/force10_10/setup.sh
  images/switch-host-scripts/force10_10/wait.sh
  images/switch-host-scripts/start-switch-vm.sh
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Add sno-2nics-force10-10 scenario
  images/README.md
  images/switch-host-scripts/README.md
  images/switch-host-scripts/common.sh
  images/switch-host-scripts/force10_10/configure.sh
  scenarios/sno-2nics-force10-10/README.md
  scenarios/sno-2nics-force10-10/automation-vars.yml
  scenarios/sno-2nics-force10-10/bootstrap_vars.yml
  scenarios/sno-2nics-force10-10/heat_template.yaml
  scenarios/sno-2nics-force10-10/manifests/control-plane.yaml
  scenarios/sno-2nics-force10-10/manifests/dnsmasq-dns-ironic.yaml
  scenarios/sno-2nics-force10-10/manifests/networking/metallb.yaml
  scenarios/sno-2nics-force10-10/manifests/networking/nad.yaml
  scenarios/sno-2nics-force10-10/manifests/networking/nncp.yaml
  scenarios/sno-2nics-force10-10/manifests/ngs/config.yaml
  scenarios/sno-2nics-force10-10/manifests/openstack-version.yaml
  scenarios/sno-2nics-force10-10/test-operator/README.md
  scenarios/sno-2nics-force10-10/test-operator/automation-vars.yml
  scenarios/sno-2nics-force10-10/test-operator/manifests/nad.yaml
  scenarios/sno-2nics-force10-10/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

Add sno-2nics-force10-10 scenario
  .ansible-lint
  images/README.md
  images/switch-host-scripts/README.md
  images/switch-host-scripts/common.sh
  images/switch-host-scripts/force10_10/configure.sh
  scenarios/sno-2nics-force10-10/README.md
  scenarios/sno-2nics-force10-10/automation-vars.yml
  scenarios/sno-2nics-force10-10/bootstrap_vars.yml
  scenarios/sno-2nics-force10-10/heat_template.yaml
  scenarios/sno-2nics-force10-10/manifests/control-plane.yaml
  scenarios/sno-2nics-force10-10/manifests/dnsmasq-dns-ironic.yaml
  scenarios/sno-2nics-force10-10/manifests/networking/metallb.yaml
  scenarios/sno-2nics-force10-10/manifests/networking/nad.yaml
  scenarios/sno-2nics-force10-10/manifests/networking/nncp.yaml
  scenarios/sno-2nics-force10-10/manifests/ngs/config.yaml
  scenarios/sno-2nics-force10-10/manifests/openstack-version.yaml
  scenarios/sno-2nics-force10-10/test-operator/README.md
  scenarios/sno-2nics-force10-10/test-operator/automation-vars.yml
  scenarios/sno-2nics-force10-10/test-operator/manifests/nad.yaml
  scenarios/sno-2nics-force10-10/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image

test - multi-nodeset
  scenarios/README.md
Due: none

WIP: Add networking-lab with devstack-nxsw-vxlan
  .gitignore
  .pre-commit-config.yaml
  roles/heat_stack/tasks/main.yml
  scenarios/networking-lab/README.md
  scenarios/networking-lab/devstack-nxsw-vxlan/README.md
  scenarios/networking-lab/devstack-nxsw-vxlan/automation-vars.yml
  scenarios/networking-lab/devstack-nxsw-vxlan/bootstrap_vars.yml
  scenarios/networking-lab/devstack-nxsw-vxlan/heat_template.yaml
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf01-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf01-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf02-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf02-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/spine01-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/spine01-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/spine02-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/spine02-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/topology-diagram.svg
  scenarios/networking-lab/manage-poap-md5sums.sh
Due: vexxhost-hotstack-3-nodes

Cap ansible-core version in pre-commit playbook
  ci/playbooks/pre-commit.yml
Due: none

New Role: redfish_vbmc_podman
  roles/redfish_vbmc_podman/README.md
  roles/redfish_vbmc_podman/defaults/main.yml
  roles/redfish_vbmc_podman/handlers/main.yml
  roles/redfish_vbmc_podman/tasks/main.yml
  roles/redfish_vbmc_podman/templates/sushy-emulator.conf.j2
  roles/redfish_vbmc_podman/templates/sushy-emulator.service.j2
Due: vexxhost-hotstack-3-nodes

role: heat_stack - compress user data support
  roles/heat_stack/README.md
  roles/heat_stack/defaults/main.yml
  roles/heat_stack/tasks/main.yml
Due: vexxhost-hotstack-3-nodes

WIP: Add networking-lab with devstack-nxsw-vxlan
  .gitignore
  .pre-commit-config.yaml
  03-redfish_vbmc_podman.yml
  04-install_devstack.yml
  bootstrap_devstack.yml
  roles/devstack_installer/README.md
  roles/devstack_installer/defaults/main.yml
  roles/devstack_installer/tasks/main.yml
  scenarios/networking-lab/README.md
  scenarios/networking-lab/devstack-nxsw-vxlan/README.md
  scenarios/networking-lab/devstack-nxsw-vxlan/automation-vars.yml
  scenarios/networking-lab/devstack-nxsw-vxlan/bootstrap_vars.yml
  scenarios/networking-lab/devstack-nxsw-vxlan/heat_template.yaml
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf01-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf01-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf02-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/leaf02-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/local.conf.j2
  scenarios/networking-lab/devstack-nxsw-vxlan/spine01-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/spine01-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/spine02-poap.cfg
  scenarios/networking-lab/devstack-nxsw-vxlan/spine02-poap.py
  scenarios/networking-lab/devstack-nxsw-vxlan/topology-diagram.svg
  scenarios/networking-lab/manage-poap-md5sums.sh
Due: vexxhost-hotstack-3-nodes

Remove redundant openstack init resource wait
  roles/hotloop/templates/common/stages/olm-openstack-stages.yaml.j2
Due: vexxhost-hotstack-3-nodes
