Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-3-nodes-update, vexxhost-hotstack-multi-nodeset

vexxhost-hotstack-ipxe-image:
  parent: base-hotstack-ixpe-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack ipxe image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-blank-image:
  parent: base-hotstack-blank-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack blank image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-controller-image:
  parent: base-hotstack-controller-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack controller image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-sno-2-bm:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: sno-2-bm
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: sno-2-bm
  ...

vexxhost-hotstack-3-nodes:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: 3-nodes
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: 3-nodes
  ...

vexxhost-hotstack-3-nodes-update:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: 3-nodes
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: 3-nodes
  ...

vexxhost-hotstack-multi-nodeset:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: multi-nodeset
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: multi-nodeset
  ...

Pass container file arg to docker cmd
  .github/workflows/build-uefi-netboot-image.yml
Due: none

GH Workflows - bump action versions and build-image
  .github/workflows/build-blank-image.yml
  .github/workflows/build-controller-image.yml
  .github/workflows/build-ipxe-images.yml
  .github/workflows/build-uefi-netboot-image.yml
Due: none

HotsTac(k)os - post-setup - add uefi-netboot image
  devsetup/hotstack-os/.env.example
  devsetup/hotstack-os/CONFIGURATION.md
  devsetup/hotstack-os/QUICKSTART.md
  devsetup/hotstack-os/scripts/post-setup.py
Due: none

Fix GH worfklow purpose string
  .github/workflows/build-uefi-netboot-image.yml
Due: none

internal git server, disable recieve-pack
  roles/hotstack_git_server/README.md
  roles/hotstack_git_server/library/hotstack_git_server_init.py
Due: vexxhost-hotstack-3-nodes

Add no_log: true to ssh key related tasks
  roles/controller/tasks/main.yml
Due: vexxhost-hotstack-3-nodes

htpasswd: Use stdin + no_log: true
  roles/redfish_vbmc_podman/tasks/main.yml
  roles/redfish_virtual_bmc/tasks/main.yml
Due: vexxhost-hotstack-3-nodes

no_log: true, pull_secret relates tasks
  03-install_ocp.yml
  03-setup_microshift.yml
  roles/microshift_setup/tasks/main.yml
Due: vexxhost-hotstack-3-nodes

Use no_log: true in scenario stages
  scenarios/3-nodes-gitops/automation-vars.yml
  scenarios/3-nodes/automation-vars.yml
  scenarios/multi-nodeset/automation-vars.yml
  scenarios/multi-ns/automation-vars.yml
  scenarios/sno-bmh-tests-ipv6/automation-vars.yml
  scenarios/sno-bmh-tests/automation-vars.yml
  scenarios/uni01alpha/automation-vars.yml
Due: vexxhost-hotstack-3-nodes, vexxhost-hotstack-3-nodes-update, vexxhost-hotstack-multi-nodeset

hotloop: Add no_log support to stage types
  roles/hotloop/library/hotloop_stage_loader.py
  roles/hotloop/templates/execute_stage.yml.j2
Due: vexxhost-hotstack-3-nodes

sushy-emulator: use secret for htpasswd
  roles/redfish_virtual_bmc/files/deployment.yaml
  roles/redfish_virtual_bmc/tasks/main.yml
  roles/redfish_virtual_bmc/templates/config_map.yaml.j2
  roles/redfish_virtual_bmc/templates/htpasswd_secret.yaml.j2
  roles/redfish_virtual_bmc/vars/automation-vars.yml
Due: vexxhost-hotstack-3-nodes

Set globally administered MACs on ironic ports
  scenarios/compact-4-bm/heat_template.yaml
  scenarios/networking-lab/devstack-ceos-vlan-netconf/heat_template.yaml
  scenarios/networking-lab/devstack-ceos-vlan/heat_template.yaml
  scenarios/networking-lab/devstack-ceos-vxlan/heat_template.yaml
  scenarios/networking-lab/devstack-nxos-vlan-netconf/heat_template.yaml
  scenarios/networking-lab/devstack-nxos-vlan-restconf/heat_template.yaml
  scenarios/networking-lab/devstack-nxsw-vxlan/heat_template.yaml
  scenarios/networking-lab/devstack-sonic-vlan/heat_template.yaml
  scenarios/networking-lab/devstack-sonic-vxlan/heat_template.yaml
  scenarios/sno-2-bm-flat-vlan/heat_template.yaml
  scenarios/sno-2-bm-ipv6/heat_template.yaml
  scenarios/sno-2-bm/heat_template.yaml
  scenarios/sno-2-bm/heat_template_ipxe.yaml
  scenarios/sno-2-bm/heat_template_mixed.yaml
  scenarios/sno-2-bm/heat_template_pxe.yaml
  scenarios/sno-2nics-force10-10/heat_template.yaml
  scenarios/sno-2nics-nxsw/heat_template.yaml
  scenarios/sno-nxsw/heat_template.yaml
  scenarios/uni01alpha/heat_template.yaml
Due: vexxhost-hotstack-sno-2-bm

Drop netconf scenario patches
  scenarios/networking-lab/devstack-ceos-vlan-netconf/local.conf.j2
  scenarios/networking-lab/devstack-nxos-vlan-netconf/local.conf.j2
Due: none

Allow data-only additional trusted CA entries
  .pre-commit-config.yaml
  ci/playbooks/pre-commit.yml
  roles/ocp_agent_installer/tasks/additional_ca.yml
  roles/ocp_agent_installer/tasks/config_assets.yml
Due: vexxhost-hotstack-3-nodes

hotstack-os: Support install-client on EL10
  devsetup/hotstack-os/INSTALL.md
  devsetup/hotstack-os/Makefile
Due: none

hotstack-os: write post-setup files to $HOME
  devsetup/hotstack-os/INSTALL.md
  devsetup/hotstack-os/Makefile
  devsetup/hotstack-os/QUICKSTART.md
  devsetup/hotstack-os/scripts/post-setup.py
Due: none

Rebuild iPXE images
  .github/workflows/build-ipxe-images.yml
  ipxe/.update_ipxe_images
Due: vexxhost-hotstack-ipxe-image

iPXE: do not set CONSOLE_SERIAL for PLATFORM_efi
  ipxe/ipxe-config/general.h
Due: vexxhost-hotstack-ipxe-image

hotstack-os: Add TCP MSS clamping for VM egress
  devsetup/hotstack-os/systemd/hotstack-os-infra-cleanup.sh
  devsetup/hotstack-os/systemd/hotstack-os-infra-setup.sh
Due: none

hotstack-so: Add --yes arg to post setup
  devsetup/hotstack-os/Makefile
  devsetup/hotstack-os/scripts/post-setup.py
Due: none

Path conditions:
  vexxhost-hotstack-ipxe-image: any of: ^ipxe/.*
  vexxhost-hotstack-blank-image: any of: ^images/.*
  vexxhost-hotstack-controller-image: any of: ^images/.*
  vexxhost-hotstack-sno-2-bm: any of: ^scenarios/sno-2-bm/.*
  vexxhost-hotstack-3-nodes: any of: ^scenarios/3-nodes/.*, ^roles/.*
  vexxhost-hotstack-3-nodes-update: any of: ^scenarios/3-nodes/.*
  vexxhost-hotstack-multi-nodeset: any of: ^scenarios/multi-nodeset/.*
