Repository openstack-k8s-operators/hotstack: changes, and which Zuul jobs are due for each by the changed paths.
All: vexxhost-hotstack-ipxe-image, vexxhost-hotstack-blank-image, vexxhost-hotstack-controller-image, vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-uni01alpha

vexxhost-hotstack-ipxe-image:
  parent: base-hotstack-ixpe-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack ipxe image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-blank-image:
  parent: base-hotstack-blank-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack blank image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-controller-image:
  parent: base-hotstack-controller-image-periodic
  nodeset: hotstack-image-vexxhost
  description: 'Build Hotstack controller image
  
    '
  timeout: 900
  vars:
    cloud_name: vexxhost

vexxhost-hotstack-sno-2-bm:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: sno-2-bm
  
    '
  timeout: 5400
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: sno-2-bm
  ...

vexxhost-hotstack-3-nodes:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: 3-nodes
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: 3-nodes
  ...

vexxhost-hotstack-uni01alpha:
  parent: base-hotstack
  nodeset: hotstack-image-vexxhost
  description: 'Hotstack scenario: uni01alpha
  
    '
  timeout: 10800
  attempts: 1
  vars:
    cloud_name: vexxhost
    scenario: uni01alpha
  ...

Add load_balancer tempest config
  scenarios/3-nodes/test-operator/tempest-tests.yml
  scenarios/uni01alpha/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-3-nodes, vexxhost-hotstack-uni01alpha

Add hotstack-collect-tempest-logs script
  roles/controller/files/bin/hotstack-collect-tempest-logs
  roles/controller/tasks/main.yml
  roles/hotlogs/defaults/main.yml
  roles/hotlogs/tasks/main.yml
  scenarios/multi-ns/bootstrap_vars.yml
  scenarios/multi-ns/test-operator/automation-vars.yml
Due: vexxhost-hotstack-3-nodes

Octavia tempest - NotImplemented is not error
  scenarios/3-nodes/test-operator/tempest-tests.yml
  scenarios/uni01alpha/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-3-nodes, vexxhost-hotstack-uni01alpha

hotlogs: do not compress .html
  roles/hotlogs/tasks/main.yml
Due: vexxhost-hotstack-3-nodes

Improve tempest logs capturing
  roles/hotlogs/defaults/main.yml
Due: vexxhost-hotstack-3-nodes

pre-commit, ansible-lint install requirements
  .ansible-lint
  .pre-commit-config.yaml
  ci/playbooks/pre-commit.yml
  requirements.yml
Due: none

Avoid tempest/tempest/ in path ...
  roles/hotlogs/defaults/main.yml
Due: vexxhost-hotstack-3-nodes

pre-commit, ansible-lint install requirements
  .ansible-lint
  .pre-commit-config.yaml
  ci/playbooks/pre-commit.yml
  requirements.yml
  scenarios/3-nodes/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-3-nodes

pre-commit, ansible-lint install requirements
  scenarios/3-nodes/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-3-nodes

3-nodes: Tempest tuneing
  scenarios/3-nodes/test-operator/tempest-tests.yml
Due: vexxhost-hotstack-3-nodes

07-collect-logs.yml: inventory add controller-0
  07-collect-logs.yml
Due: none

Test vexxhost-hotstack-3-nodes-update
  update-vars.yml
Due: none

New job: vexxhost-hotstack-multi-nodeset
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

3-nodes: Wait for both tempest workflows
  scenarios/3-nodes/test-operator/automation-vars.yml
Due: vexxhost-hotstack-3-nodes

hotloop: optimize task execution
  roles/hotloop/tasks/execute_stage.yml
  roles/hotloop/tasks/main.yml
  roles/hotloop/templates/execute_stage.yml.j2
  zuul.d/jobs.yaml
Due: vexxhost-hotstack-3-nodes

hotloop: persist rendered stage tasks for CI debug
  roles/hotlogs/defaults/main.yml
  roles/hotloop/defaults/main.yml
  roles/hotloop/tasks/kustomize.yml
  roles/hotloop/tasks/main.yml
  roles/hotloop/tasks/script.yml
  roles/hotloop/tasks/static_manifest.yml
  roles/hotloop/tasks/template_manifest.yml
  roles/hotloop/templates/execute_stage.yml.j2
Due: vexxhost-hotstack-3-nodes

Test scenario 3-nodes
  scenarios/3-nodes/test
Due: vexxhost-hotstack-3-nodes

Enable ML2 baremetal in relevant scenarios
  scenarios/compact-4-bm/manifests/control-plane/control-plane.yaml
  scenarios/sno-2-bm-flat-vlan/manifests/control-plane/control-plane.yaml
  scenarios/sno-2-bm-ipv6/manifests/control-plane/control-plane.yaml
  scenarios/sno-2-bm/manifests/control-plane/control-plane.yaml
  scenarios/sno-nxsw/manifests/control-plane.yaml
  scenarios/uni01alpha/manifests/control-plane/control-plane.yaml
Due: vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-uni01alpha

sno-bmh-tests-ipv6 Scenario
  scenarios/sno-bmh-tests-ipv6/README.md
  scenarios/sno-bmh-tests-ipv6/automation-vars.yml
  scenarios/sno-bmh-tests-ipv6/bootstrap_vars.yml
  scenarios/sno-bmh-tests-ipv6/heat_template.yaml
  scenarios/sno-bmh-tests-ipv6/manifests/control-plane/control-plane.yaml
  scenarios/sno-bmh-tests-ipv6/manifests/control-plane/networking/metallb.yaml
  scenarios/sno-bmh-tests-ipv6/manifests/control-plane/networking/nad.yaml
  scenarios/sno-bmh-tests-ipv6/manifests/control-plane/networking/netconfig.yaml
  scenarios/sno-bmh-tests-ipv6/manifests/control-plane/networking/nncp.yaml
  scenarios/sno-bmh-tests-ipv6/manifests/control-plane/secrets.yaml
  scenarios/sno-bmh-tests-ipv6/manifests/dataplane/baremetal_hosts.yaml.j2
  scenarios/sno-bmh-tests-ipv6/manifests/dataplane/deployment-os.yaml
  scenarios/sno-bmh-tests-ipv6/manifests/dataplane/deployment-services.yaml
  scenarios/sno-bmh-tests-ipv6/manifests/dataplane/nodeset.yaml
  scenarios/sno-bmh-tests-ipv6/manifests/dataplane/pre_provisioning_network_data.yaml
  scenarios/sno-bmh-tests-ipv6/manifests/dataplane/secrets.yaml
  scenarios/sno-bmh-tests-ipv6/test-operator/automation-vars.yml
  scenarios/sno-bmh-tests-ipv6/test-operator/tempest-tests.yml
Due: none

ocp_agent_installer: insecure registries support
  roles/ocp_agent_installer/README.md
  roles/ocp_agent_installer/defaults/main.yml
  roles/ocp_agent_installer/files/additional-trusted-ca-config-image.yaml
  roles/ocp_agent_installer/tasks/config_assets.yml
  roles/ocp_agent_installer/templates/image-config.yaml.j2
Due: vexxhost-hotstack-3-nodes

Configurable cdrom_disk_bus parameter
  scenarios/3-nodes-gitops/heat_template.yaml
  scenarios/3-nodes/heat_template.yaml
  scenarios/campus-ha/heat_template.yaml
  scenarios/compact-4-bm/heat_template.yaml
  scenarios/hci/heat_template.yaml
  scenarios/multi-nodeset/heat_template.yaml
  scenarios/multi-ns/heat_template.yaml
  scenarios/snapshot-sno/heat_template.yaml
  scenarios/sno-2-bm-flat-vlan/heat_template.yaml
  scenarios/sno-2-bm-ipv6/heat_template.yaml
  scenarios/sno-2-bm/heat_template.yaml
  scenarios/sno-bmh-tests-ipv6/heat_template.yaml
  scenarios/sno-bmh-tests/heat_template.yaml
  scenarios/sno-nxsw/heat_template.yaml
  scenarios/uni01alpha/heat_template.yaml
Due: vexxhost-hotstack-sno-2-bm, vexxhost-hotstack-3-nodes, vexxhost-hotstack-uni01alpha

run-os-dataplane-os-edpm - increase timeout
  scenarios/sno-bmh-tests-ipv6/automation-vars.yml
Due: none

DNM - Test sno-2-bm Job
  scenarios/sno-2-bm/automation-vars.yml
  zuul.d/jobs.yaml
Due: vexxhost-hotstack-sno-2-bm

disable markdownlint
  .pre-commit-config.yaml
Due: none

Path conditions:
  vexxhost-hotstack-ipxe-image: any of: ^ipxe/.*
  vexxhost-hotstack-blank-image: any of: ^images/.*
  vexxhost-hotstack-controller-image: any of: ^images/.*
  vexxhost-hotstack-sno-2-bm: any of: ^scenarios/sno-2-bm/.*
  vexxhost-hotstack-3-nodes: any of: ^scenarios/3-nodes/.*, ^roles/.*
  vexxhost-hotstack-uni01alpha: any of: ^scenarios/uni01alpha/.*
